<mat-toolbar class="header" color="primary">
  <div class="courseUSD">
    <p class="title">USD</p>
    <div class="rate">
      <img class="image" src="assets/images/american-flag.png" alt="Опис зображення">
      <span>{{ usdToUah }}</span>
    </div>

  </div>
  <div class="courseEUR">
    <p class="title">EUR</p>
    <div class="rate">
      <img class="image" src="assets/images/european-flag.png" alt="Опис зображення">
      <span>{{ eurToUah }}</span>
    </div>
  </div>
</mat-toolbar>
<app-currency></app-currency>
